.outlet-card {
    display: inline-block;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .outlet-card:hover {
    transform: scale(1.05);
  }
  
  .outlet-logo {
    width: 100px;
    height: auto;
  }
  
  .outlet-name {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .back-to-home {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .back-to-home:hover {
    background-color: #e14e1e;
  }
  